### Creating Tables And Inserting Records

In [36]:
### Create MySQL Connection And Connect
import mysql.connector as sql

connection = sql.connect(
  host="localhost",
  user="root",
  password="12345",
  database="student"
)

print(connection)

<mysql.connector.connection.MySQLConnection object at 0x0000028D7250C708>

### Create Table In MySQL using Python

In [37]:
cursor = connection.cursor()

cursor.execute("CREATE TABLE studentinfo (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

### Insert Records in Table

In [38]:
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
value = ("John", "Stats")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 1

In [41]:
### Insert multiple records in Table
query = "INSERT INTO studentinfo (name, subject) VALUES (%s, %s)"
values = [("Krish", "Stats"),
        ("Joe", "Maths"),
        ("Ankur","Data Science"),
        ("Paul","Data Science"),
        ("Vishal","Maths"),
        ("Krish","Data Science")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 2

#### Select All

In [53]:
cursor = connection.cursor()
cursor.execute("Select * from studentinfo")

In [43]:
### Fetch All the Data
cursor.fetchall()

[(1, 'John', 'Stats'),
 (2, 'Krish', 'Stats'),
 (3, 'Joe', 'Maths'),
 (4, 'Ankur', 'Data Science'),
 (5, 'Paul', 'Data Science'),
 (6, 'Vishal', 'Maths'),
 (7, 'Krish', 'Data Science')]

In [52]:
### Fetch One Record At A time
cursor.fetchone()

In [54]:
lst=cursor.fetchall()

In [55]:
for records in lst:
    print(records)

(1, 'John', 'Stats')
(2, 'Krish', 'Stats')
(3, 'Joe', 'Maths')
(4, 'Ankur', 'Data Science')
(5, 'Paul', 'Data Science')
(6, 'Vishal', 'Maths')
(7, 'Krish', 'Data Science')

#### Selecting Particular Rows

In [56]:
cursor.execute("Select * from studentinfo where name='Krish'")

In [57]:
### Fetch All the Data
cursor.fetchall()

[(2, 'Krish', 'Stats'), (7, 'Krish', 'Data Science')]

#### Select Particular Columns

In [58]:
cursor.execute("Select subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',),
 ('Stats',),
 ('Maths',),
 ('Data Science',),
 ('Data Science',),
 ('Maths',),
 ('Data Science',)]

In [59]:
## Select Distinct Columns
cursor.execute("SELECT DISTINCT subject from studentinfo")
#### Fetch All
cursor.fetchall()

[('Stats',), ('Maths',), ('Data Science',)]

In [60]:
cursor.execute("SELECT name, subject FROM studentinfo WHERE name = 'Krish' OR subject = 'Data Science'") 
#### Fetch All
cursor.fetchall()

[('Krish', 'Stats'),
 ('Ankur', 'Data Science'),
 ('Paul', 'Data Science'),
 ('Krish', 'Data Science')]

### Drop Table

In [35]:
cursor.execute("DROP TABLE studentinfo")